<template>
  <section>
    <h1>Covid-19 information</h1>
    <div v-for="(s, key) in states" :key="key">
      <div>name : {{ s.state }}</div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {

  

  name: "Home",

  data (){
      return{};
  },

  created() {
    this.getCovidAPI();
  },

  computed: {
    ...mapState("home",["states"])
  },

  watch: {},

  methods: {
    ...mapActions("home",["getCovidAPI"]),
  }

};

</script>

<style>
table{
  border: solid black 1px;
  /* border-collapse: collapse; */
}
</style>

