<template>
  <nav>
    <div class="logo">Logo</div>
    <div class="menu">
      <!-- <input type="text" class ="search" placeholder="Quick Search" />
      <a class="list-group-item" href="#"><i class="fa fa-search"></i></a> -->
      <div class="nav-items">
        <div class="nav-item">Home</div>
        <div class="nav-item">News</div>
      <!-- <div class="nav-item"></div> -->
    </div>

    </div>
    
  </nav>
</template>
<script>
export default {
  name:'Nav'
}
</script>
<style scoped>
nav{
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* // top: 0;
  // position: sticky;

  // background-color: #050c18; */
  
}

.nav-items{
    display: flex;
    width:400px;
    margin-right: 0px;
    align-items: center;
  }
  .nav-item{
    padding: 3vh;
  }
  
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-group-item{
  padding-left: 0.2vh;
  color: #767676;
}
.search{
  border-radius: 2vh;
  background-color: inherit;
  border: solid #767676;
  color: white;
  height:3vh;
}

</style>