<template>
  <div id="app">
    <Nav/>
    <router-view/>
    <Footer/>
  </div>
</template>
<script>
import Nav from "./components/Common/Nav";
import Footer from "./components/Common/Footer";
export default {
  components: {Nav, Footer}
}
</script>